body {
  background-color: #212529 !important;
}

/* Boostrap overrides */
.modal-header {
  border-bottom: none;
}

.navbar {
  background-color: rgba(18, 18, 18, 0.75) !important;
}

.shadow {
  border-radius: 0.5rem;
}

/* Custom */
.album-cover {
  aspect-ratio: 1;
  padding: 1px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.album-cover:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.albums-list {
  min-height: 100vh;
  padding-bottom: 2.5rem;
  padding-top: 6.5rem;
}

.pointer {
  cursor: pointer;
}

.social-icon {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  padding: 0.5rem;
}

.tag {
  padding: 0.1rem 0.5rem;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.05);
}

.top-nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/* Media query */
@media (max-width: 576px) {
  .albums-list {
    padding-top: 9rem;
  }

  .top-nav {
    flex-direction: column;
  }
}